$primary-color: #2098ef;
$text-color: #e1e1e1;
$bg-color: #111111;
$light-color: #222222;
$gradient-start: #2098ef;
$gradient-end: #4e2dd1;
body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  color: $text-color;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.link {
  text-decoration: none;
  color: $text-color;
  background-color: rgb(63, 63, 63);
  padding: 6px;
  border-radius: 17px;
  transition: 0.3s;
  &:hover {
    background-color: rgb(92, 92, 92);
    color: white;
  }
}
.navbar {
  width: 100%;
  background-color: $bg-color;
  border-radius: 0px 0px 15px 15px;
}
.nav-content {
  padding: 10px 20vw;
  display: flex;
  img {
    width: 100px;
    height: 100px;
  }
  justify-content: center;
  align-items: center;

  .nav-link {
    text-decoration: none;
    color: white;
    transition: 0.3s;
    &:not(:last-child) {
      margin-right: 20px;
    }
    &:hover {
      color: $primary-color;
    }
  }
}
.button {
  background-color: $primary-color;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
  transition: 0.3s;
  &:hover {
    cursor: pointer;
    background-color: $gradient-end;
    scale: 1.05;
  }
}
.project-link {
  text-decoration: none;
  color: $text-color;
  background-color: rgb(63, 63, 63);
  padding: 6px;
  border-radius: 17px;
  margin-bottom: 10rem;
  transition: 0.3s;
  &:hover {
    background-color: rgb(92, 92, 92);
    color: white;
  }
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.landing-card {
  margin-top: 3rem;
  padding: 10px 30vw;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 4em;
    margin-bottom: 30px;
  }
  p {
    font-size: 2em;
    margin: 0;
  }
  .landing-card-buttons {
    margin-top: 28px;
    .button:not(:last-child) {
      margin-right: 10px;
    }
  }
  animation: text-up 1s ease 300ms backwards;
}
.header-content {
  margin: 10px 25vw;
  animation: text-up 1s ease 300ms backwards;
  h1 {
    font-size: 3em;
  }
  p {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
  }
}
.footer {
  background-color: $light-color;
  margin-top: 10em;
  .footer-content {
    padding: 20px 20vw;
    align-items: center;
    .footer-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .footer-logo {
      width: 150px;
      height: 150px;
      opacity: 0.8;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
    .footer-bottom {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
      li {
        margin-bottom: 15px;
      }
    }
    .footer-right-links {
      text-align: right;
    }
  }

}

@keyframes text-up {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}
@media only screen and (max-width: 829px) {
  .nav-content {
    padding: 20px 5vw;
  }
  .button {
    font-size: 10px;
  }
  .landing-card {
    padding: 10px 5vw;
    h1 {
      font-size: 3em;
    }
    p {
      font-size: 1.5em;
    }
  }
  .footer-content {
    padding: 10px 2vw !important;
  }
}
.landing-card-name .my-name, .color-text {
  font-weight: bold;
  background: -webkit-linear-gradient(
    45deg,
    rgba(32, 152, 239, 1) 0%,
    rgba(78, 45, 209, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 25vw;
  margin-top: 10rem;
  animation: text-up 1s ease 600ms backwards;
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    .project-card {
      border: 2px solid $light-color;
      padding: 20px;
      border-radius: 10px;
      transition: 0.3s;
      &:hover {
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
      }
      h3 {
        font-weight: bold;
        font-size: 2em;
        background: -webkit-linear-gradient(
          45deg,
          rgba(32, 152, 239, 1) 0%,
          rgba(78, 45, 209, 1) 100%
        );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      h5 {
        font-size: 0.8em;
        margin: 0;
      }
      img {
        width: 100%;
        border-radius: 10px;
      }
    }
  }
}
.my-tech {
  margin: 10px 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .tech-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    .tech-card {
      border: 2px solid $light-color;
      padding: 20px;
      border-radius: 10px;
      transition: 0.3s;
      &:hover {
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
      }
      h3 {
        font-weight: bold;
        font-size: 2em;
      }
    }
  }
}
